.hero{
    padding:5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.herotext{
    max-width: 50%;
}
.herotext>h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #1F284F;
    line-height: 60px;
}
.mark{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    padding-top: 3%;
}
.mark >img{
    max-width: 100%;
}
.mark >h2{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #17181A;
    line-height: 28px;
    max-width: 60%;
}
.heroimg >img{
    max-width: 100%;
}